[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
jsonwebtoken = "9.3"
axum = "0.7"
async-trait = "0.1"
